@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

:root {
    --cor-principal: #000;
    --fonte-principal: 'Bricolage Grotesque', sans-serif;
}

* {
    font-family: var(--fonte-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-principal);
    text-align: center;
    color: white;
}

main.artigos {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

main.principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    justify-content: space-around;
    gap: 1%;
}

article.item-principal {
    border: 1px solid #000000;
    text-align: center;
    width: 49%;
}

article.itens-principais {
    border: 1px solid #000000;
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 49%;
}

strong {
    border: 1px solid #000000;
    padding: 5px;
}

article.flex-item {
    flex: 1;
    border: 1px solid #000000;
    padding: 1rem;
    min-width: 265px;
}

footer {
    background-color: var(--cor-principal);
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 10.95%;
}