@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

:root {
    --cor-principal: #000;
    --fonte-principal: 'Bricolage Grotesque', sans-serif;
}

* {
    font-family: var(--fonte-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-principal);
    text-align: center;
    color: white;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

article.grid-item{
    border: 1px solid #000000;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    text-align: center;
}

footer{
    background-color: var(--cor-principal);
    padding: 1rem;
    text-align: center;
    color: white;
    margin-top: 29.47%;
}